<!-- <div [formGroup]="regForm">

    <div *ngFor="let cat of misCategorias">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="gappx" style="padding: 20px;">
            <button mat-stroked-button color="primary" *ngFor="let sub of cat.subcategorias,let i = index" [ngSwitch]="cat.subcategorias" (click)="anadirSubCategoria(sub)">
            {{sub}}
        </button>
        </div>
    </div>

</div>
<br/> -->

<!-- <mat-form-field formGroupName="subcategoria">
    <input  matInput placeholder="Subcategoria" formControlName="subcategoria">
  </mat-form-field> -->